*::-webkit-input-placeholder {
	color: #666a72;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666a72;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666a72;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666a72;
	opacity: 1;
}


body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 160%;
	color: #333;
	overflow-x: hidden;
	margin: 0;
	background-color: #fff;
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
button,
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
	-webkit-appearance: none;
}
*:link,
*:visited,
*:hover,
*:focus,
*:active {
	outline: 0;
	-webkit-tap-highlight-color: transparent;
}
a, button, input, img {
	transition: all 0.3s;
}
h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}

a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}

.footer__wrapper,
.wrapper-page {
	display: grid;
	grid-template-columns: 0.267fr 1fr;
}
.wrapper-page {
	min-height: 100vh;
}
.container {
	padding: 0 70px;
	max-width: 100%;
}
.logo-wrap {
	gap: 30px;
	margin-bottom: 18px;
	display: flex;
	align-items: center;
}
.logo img {
	width: 153px;
	height: auto;
}
.logo-descr {
	font-size: 14px;
	max-width: 147px;
	line-height: 140%;
	color: #666a72;
}
.sidebar {
	padding-left: 38px;
	border-right: 1px solid #949597;
}
.sidebar__content {
	padding-top: 16px;
	position: sticky;
	top: 0;
	max-height: 100vh;
	overflow: auto;
}
.sidebar__content::-webkit-scrollbar {
	-webkit-appearance: none;
}
.sidebar__content::-webkit-scrollbar:vertical {
	width: 3px;
}
.sidebar__content::-webkit-scrollbar:horizontal {
	height: 3px;
}
.sidebar__content::-webkit-scrollbar-thumb {
	background-color: #1a0d00;
	border-radius: 10px;
}
.sidebar__content::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #666a72;
}
.menu__list li {
	margin-bottom: 6px;
	position: relative;
	transition: all 0.3s;
}
.menu__list>li>a {
	margin-right: 62px;
}
.menu__arrow {
	width: 62px;
	height: 52px;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: absolute;
	transition: all 0.3s;
}
.menu__arrow i {
	transition: all 0.3s;
}
.active>.menu__arrow i {
	transform: rotate(-180deg);
}
.menu__list a {
	padding: 14px;
	display: block;
	color: #1a0d00;
}
.menu__dropdown {
	padding: 10px;
	display: none;
	background: #f3f0ed;
}
.menu__dropdown ul li {
	margin-bottom: 2px;
}
.menu__dropdown ul li a {
	padding: 10px;
}

.header {
	font-size: 14px;
	padding: 20px 0;
	line-height: 140%;
	color: #1a0d00;
	position: sticky;
	top: 0;
	background: #fff;
	z-index: 500;
}
.header__wrapper {
	gap: 36px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav__list {
	gap: 20px;
	display: flex;
	align-items: center;
}
.nav__list a {
	padding: 10px;
	color: #1a0d00;
	display: block;
}
.search-main {
	position: relative;
	flex: 1;
}
.search-main input {
	height: 48px;
	border: 2px solid #f07d00;
	border-radius: 6px;
	padding: 0 16px;
	background: #fff;
	width: 100%;
}
.search-main__btn {
	height: 48px;
	width: 48px;
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	border: none;
	background: transparent;
}
.link-email {
	gap: 12px;
	color: #1a0d00;
	display: inline-flex;
	align-items: center;
}

.billbord__main {
	min-height: 600px;
	padding: 60px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-image: url(../img/billbord.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.billbord__subtitle {
	font-size: 30px;
	max-width: 449px;
	margin-bottom: 10px;
	line-height: 140%;
	color: #1a0d00;
	font-weight: 500;
}
.billbord__title {
	font-size: 44px;
	margin-bottom: 40px;
	max-width: 680px;
	line-height: 120%;
	text-transform: uppercase;
	color: #1a0d00;
	font-weight: 700;
	font-family: 'Roboto Slab';
}
.billbord__title strong {
	font-size: 64px;
	line-height: 120%;
}
.billbord__descr {
	font-size: 20px;
	max-width: 380px;
	line-height: 140%;
	color: #1a0d00;
}
.btn-main {
	height: 62px;
	font-size: 16px;
	padding: 0 28px;
	border-radius: 6px;
	line-height: 140%;
	color: #fff;
	font-weight: 500;
	background: #f07d00;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: 'Roboto';
	border: none;
	cursor: pointer;
	transition: all 0.3s;
}
.billbord__main .btn-main {
	margin-top: auto;
}

.advantages__item {
	padding: 20px;
	gap: 35px;
	color: #fff;
	min-height: 100%;
	background: #666a72;
	display: flex;
	align-items: center;
}
.advantages__icon {
	width: 122px;
	height: 122px;
	flex: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.advantages__icon img {
	max-width: 100%;
	max-height: 100%;
}
.advantages__text {
	font-size: 14px;
	line-height: 140%;
}
.advantages__title {
	margin-bottom: 17px;
	font-weight: 500;
	line-height: 140%;
	font-family: 'Roboto Slab';
}
.row>div {
	padding: 0 14px;
}
.row {
	margin: 0 -14px;
}
.row.row--main>div {
	margin-bottom: 28px;
}
.row.row--main {
	margin-bottom: -28px;
}
.advantages {
	margin-top: 26px;
}

.title-section {
	font-size: 36px;
	margin-top: 56px;
	margin-bottom: 37px;
	line-height: 120%;
	text-transform: uppercase;
	color: #1a0d00;
	font-weight: 700;
	font-family: 'Roboto Slab';
}
.slider-accordion {
	gap: 16px;
	display: flex;
}
.item-accordion__count {
	font-size: 100px;
	line-height: 70%;
	text-transform: uppercase;
	color: #1a0d00;
	font-weight: 300;
	font-family: 'Roboto Slab';
}
.item-accordion__subtitle {
	font-size: 30px;
	line-height: 120%;
	writing-mode: sideways-lr;
	font-family: 'Roboto Slab';
	text-transform: uppercase;
	color: #1a0d00;
}
.item-accordion {
	height: 529px;
	border: 1px solid #d9d9d9;
	border-radius: 6px;
	background: #d9d9d9;
	transition: al 0.3s;
	display: flex;
}
.item-accordion.active {
	flex: 1 1 0%;
	border: 1px solid #f3f0ed;
	background: #f3f0ed;
}
.item-accordion.active .item-accordion__content {
	width: 100%;
}
.item-accordion.active .item-accordion__inner {
	transform: scaleX(1);
}
.item-accordion__head {
	padding: 36px 0;
	width: 155px;
	justify-content: center;
	display: flex;
	align-items: flex-start;
	cursor: pointer;
	transition: all 0.3s;
	position: relative;
	z-index: 1;
}
.item-accordion__inner {
	padding: 49px 32px;
	transform-origin: 100% 50%;
	transform: scaleX(0);
	height: 100%;
	transition: all 0.5s;
}
.item-accordion__content {
	width: 0px;
	background: #fff;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.item-accordion__head .title-small {
	text-align: center;
	transition: all 0.3s;
}
.item-accordion.active .item-accordion__head .title-small {
	opacity: 0;
	visibility: hidden;
}
.item-accordion__inner p {
	margin-bottom: 20px;
	color: #1a0d00;
}
.item-accordion__inner p:last-child {
	margin-bottom: 0;
}
.item-accordion__inner a {
	color: inherit;
	font-weight: 600;
}
.title-middle {
	font-size: 32px;
	line-height: 140%;
	color: #1a0d00;
}
.item-accordion__inner .title-middle {
	margin-bottom: 50px;
}

.calculation {
	padding-top: 58px;
}
.calculation__main {
	padding: 23px 27px;
	background: #f3f0ed;
	border-radius: 8px;
}
.calculation__main .title-middle {
	margin-bottom: 17px;
	text-align: center;
}
.calculation__main .title-middle strong {
	display: block;
	font-weight: 600;
}
.calculation__descr {
	font-size: 20px;
	margin-bottom: 37px;
	line-height: 160%;
	text-align: center;
	color: #666a72;
}
.file-upload {
	cursor: pointer;
}
.file-upload label {
	position: relative;
	display: block;
}
.file-upload input {
	width: 100% !important;
	height: 100% !important;
	padding: 0 !important;
	opacity: 0 !important;
	position: absolute;
	top: 0;
	cursor: pointer;
	left: 0;
	z-index: 10;
}
.file-upload__content {
	height: 241px;
	border-radius: 8px;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
}
.file-upload__content::before {
	position: absolute;
	display: block;
	content: " ";
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	border: 1px dashed #666a72;
	border-radius: 6px;
	pointer-events: nones;
}
.file-upload__btn {
	padding: 20px 24px;
	border-radius: 6px;
	font-size: 20px;
	gap: 24px;
	line-height: 140%;
	text-align: center;
	color: #fff;
	background: #666a72;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.3s;
}
.file-upload__descr {
	margin-top: 13px;
	text-align: center;
	color: #1a0d00;
}
.file-upload {
	margin-bottom: 23px;
	position: relative;
}
.name-upload {
	position: absolute;
	top: 100%;
	left: 0;
	margin-top: 2px;
	font-size: 12px;
	line-height: 15px;
}
.descr-upload {
	color: #666a72;
}
.calculation__button {
	padding-top: 28px;
	text-align: center;
}
.calculation__button .btn-main {
	width: 313px;
	max-width: 100%;
}
.row.row--calculation>div {
	padding: 0 50px;
}
.row.row--calculation {
	margin: 0 -50px;
}
.slider-partners:not(.slick-initialized)>*:not(:first-child),
.slider-catalog:not(.slick-initialized)>*:not(:first-child) {
	display: none;
}
.slider-partners .slick-track,
.slider-catalog .slick-track {
	display: flex !important;
}
.slider-partners .slick-slide,
.slider-catalog .slick-slide {
	height: inherit !important;
}
.slider-partners .slick-slide,
.slider-catalog .slick-slide {
	padding: 9px;
}
.slider-partners .slick-list,
.slider-catalog .slick-list {
	margin: -9px;
}
.item-catalog {
	padding: 10px;
	padding-bottom: 18px;
	border: 1px solid #f3f0ed;
	border-radius: 8px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 100%;
	transition: all 0.3s;
}
.item-catalog__image {
	height: 233px;
	margin-bottom: 12px;
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.item-catalog__image img {
	max-width: 100%;
	max-height: 100%;
}
.item-catalog__content {
	padding: 0 10px;
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.item-catalog__prices {
	margin-bottom: 6px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.price-main {
	font-size: 24px;
	line-height: 140%;
	color: #1a0d00;
	font-weight: 500;
}
.price-old {
	font-size: 16px;
	line-height: 140%;
	text-decoration: line-through;
	color: #666a72;
	font-weight: 500;
}
.item-catalog__title {
	margin-bottom: 7px;
	display: block;
	width: 100%;
	color: #666a72;
}
.available {
	font-size: 14px;
	gap: 9px;
	line-height: 140%;
	display: flex;
	align-items: center;
	color: #3fb521;
}
.available::before {
	position: relative;
	display: block;
	content: " ";
	width: 6px;
	height: 6px;
	flex: none;
	border-radius: 50%;
	background: #3fb521;
}
.item-catalog__buttons {
	padding-top: 28px;
	gap: 7px;
	margin-top: auto;
	display: flex;
	align-items: center;
	width: 100%;
}
.item-catalog__buttons .btn-main {
	height: 40px;
	font-size: 14px;
	padding: 0 10px;
	border-radius: 6px;
	line-height: 140%;
	font-weight: 500;
	flex: 1;
}
.btn-main.btn-main--page {
	background: #666a72;
}
.btn-favorite {
	top: 10px;
	right: 10px;
	width: 32px;
	height: 32px;
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	cursor: pointer;
	position: absolute;
	opacity: 0;
	transition: all 0.3s;
}
.btn-favorite i {
	transition: all 0.3s;
}
.btn-favorite.active i {
	font-weight: 700;
	transform: scale(1.3);
}
.content {
	min-width: 1px;
}
.slick-arrow {
	width: 41px;
	height: 41px;
	font-size: 18px;
	color: #1A0D00;
	background: #f3f0ed;
	border: none;
	top: 50%;
	position: absolute;
	transition: all 0.3s;
	cursor: pointer;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slick-prev {
	left: -48px;
}
.slick-next {
	right: -48px;
}

.partners {
	padding-top: 60px;
}
.partners__main {
	padding: 44px;
	background: #f3f0ed;
}
.partners__main .title-section {
	margin-top: 0;
}
.item-partner {
	height: 164px;
	padding: 15px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
}
.item-partner img {
	max-width: 100%;
	max-height: 100%;
}
.slider-partners {
	margin: 0 54px;
}

.contacts {
	padding-bottom: 62px;
}
.map-contacts img {
	width: 100%;
	height: auto;
}
.contacts__main {
	padding: 30px 40px;
	font-size: 20px;
	min-height: 520px;
	line-height: 160%;
	color: #fff;
	background: #666a72;
}
.contacts__title {
	font-size: 24px;
	font-weight: 600;
}
.contacts__item {
	margin-bottom: 50px;
}
.contacts__item:last-child {
	margin-bottom: 0;
}
.contacts__main a {
	color: #fff;
}
.map-contacts {
	width: 100%;
	max-width: 924px;
	aspect-ratio: 924 / 501;
	position: relative;
}
.map-contacts img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.pin {
	width: 17px;
	height: 23px;
	cursor: pointer;
	display: block;
	background-image: url(../img/marker.svg);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
}
.pin--1 {
	left: 6.6%;
	bottom: 28.3%;
}
.pin--2 {
	left: 12.3%;
	bottom: 35.7%;
}
.pin--3 {
	left: 12.3%;
	top: 34.9%;
}
.pin--4 {
	left: 40.8%;
	bottom: 42.7%;
}
.pin--5 {
	right: 12.5%;
	bottom: 31.3%;
}
.contacts__main-tab {
	display: none;
}
.contacts__main-tab:first-child {
	display: block;
}

.footer {
	font-size: 18px;
	line-height: 160%;
	color: #fff;
	background: #1a0d00;
}
.footer__grid {
	padding-top: 44px;
	padding-bottom: 37px;
	gap: 15px;
	display: grid;
	grid-template-columns: 0.7fr 1.2fr 1fr 1fr 0.9fr;
}
.footer .logo-descr {
	color: #fff;
}
.footer__nav li {
	margin-bottom: 12px;
	font-weight: 500;
}
.footer__nav li:last-child {
	margin-bottom: 0;
}
.footer__nav li a {
	color: #fff;
}
.footer__nav--default li {
	font-weight: 400;
}
.footer__contacts {
	max-width: 226px;
}
.footer__contacts p {
	margin-bottom: 18px;
}
.footer__contacts p a {
	color: #fff;
}
.footer__phone {
	font-size: 24px;
	white-space: nowrap;
	line-height: 160%;
	font-weight: 600;
	display: inline-block;
	vertical-align: middle;
}
.footer__contacts .btn-main {
	height: 40px;
	margin-top: 7px;
	font-size: 14px;
	padding: 0 10px;
	width: 100%;
	display: flex;
}
.footer__logo .logo-descr {
	margin-top: 16px;
}
.footer__bottom {
	font-size: 14px;
	line-height: 150%;
	border-top: 1px solid #949597;
}
.footer__line {
	gap: 50px;
	padding: 20px 0;
	display: flex;
	align-items: center;
}
.footer__links a {
	color: #fff;
	border-bottom: 1px #fff solid;
}
.footer__links {
	gap: 15px;
	display: flex;
	align-items: center;
}
.create img {
	display: inline-block;
	margin-left: 4px;
	vertical-align: middle;
}
.footer__sidebar {
	border-right: 1px solid #949597;
}
.slick-dots {
	gap: 7px;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
}
.slick-dots li {
	width: 8px;
	height: 8px;
	margin: 0;
	transition: all 0.3s;
}
.slick-dots li button {
	width: 8px;
	height: 8px;
	background: #666a72;
	border-radius: 50%;
	padding: 0;
	border: none;
	transition: all 0.3s;
	opacity: 1;
	display: block;
	font-size: 0;
	color: transparent;
}
.slick-dots li.slick-active button {
	background: #f07d00;
}
.slick-dots li button::before {
	display: none;
}
.calculation__info {
	padding: 24px;
	border-radius: 8px;
	background: #f07d00;
	color: #fff;
}
.calculation__subtitle {
	font-size: 18px;
	margin-bottom: 23px;
	line-height: 140%;
}
.calculation__alert {
	gap: 16px;
	margin-top: auto;
	display: flex;
	align-items: flex-start;
}
.calculation__alert svg {
	width: 24px;
	flex: none;
}
.calculation__information {
	padding-bottom: 40px;
	padding-top: 15px;
}
.modal-block {
	display: none;
	padding: 0;
	background: transparent;
}
.modal-wrap {
	padding: 24px 36px;
	width: 456px;
	border-radius: 12px;
	max-width: 100%;
	background: #f3f0ed;
}
.title-modal {
	font-size: 24px;
	margin-bottom: 24px;
	line-height: 160%;
	text-align: center;
	font-weight: 500;
	color: #1a0d00;
}
.item-form {
	margin-bottom: 10px;
}
.item-form textarea,
.item-form input {
	height: 54px;
	padding: 0 20px;
	font-size: 14px;
	line-height: 160%;
	width: 100%;
	border: 1px solid rgba(102, 106, 114, 0.5);
	border-radius: 8px;
	font-family: "Roboto";
	background: #fff;
}
.item-form textarea {
	height: 115px;
	padding-top: 16px;
	resize: none;
}
.modal-wrap__link {
	padding-top: 6px;
	gap: 6px;
	font-size: 14px;
	line-height: 160%;
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal-wrap__link a {
	color: #1a0d00;
	border-bottom: 1px #1a0d00 solid;
}
.modal-wrap .btn-main {
	margin-top: 36px;
	width: 100%;
}
.checkbox {
	font-size: 13px;
	margin-top: 30px;
	line-height: 140%;
	color: #525252;
}
.checkbox a {
	color: inherit;
}
.checkbox label {
	gap: 20px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	cursor: pointer;
}
.checkbox label input {
	width: 19px;
	height: 19px;
	border: none;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 2px solid #8D99AE;
	position: relative;
	flex: none;
	cursor: pointer;
}
.checkbox label input::before {
	position: absolute;
	top: 1px;
	left: 0px;
	width: 100%;
	height: 100%;
	content: "\f00c";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 500;
	background-image: none;
	color: #8D99AE;
	font-size: 11px;
	opacity: 0;
	transition: .2s;
}
.checkbox input:checked:before {
	opacity: 1;
}

.billbord-page__main {
	padding: 21px 57px;
	min-height: 600px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.billbord-page--about .billbord-page__main {
	background-image: url(../img/billbord_about.jpg);
}
.breadcrumbs {
	font-size: 14px;
	padding-bottom: 24px;
	line-height: 160%;
	color: #1a0d00;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.billbord-page .breadcrumbs {
	padding-bottom: 84px;
}
.breadcrumbs a {
	color: #1a0d00;
	border-bottom: 1px solid transparent;
}
.breadcrumbs a:hover {
	border-color: #1a0d00;
}
.breadcrumbs li::after {
	content: "/";
	margin: 0 10px;
}
.breadcrumbs li:last-child::after {
	display: none;
}
.billbord-page .title-section {
	font-size: 42px;
	margin: 0;
	margin-bottom: 24px;
}
.billbord-page__descr {
	font-size: 20px;
	margin-bottom: 15px;
	line-height: 160%;
	font-weight: 500;
}
.billbord-page__text {
	font-size: 18px;
	line-height: 160%;
}
.billbord-page__content {
	max-width: 615px;
}
.about-advantages .title-section {
	margin-bottom: 50px;
}
.about-advantages__image {
	margin-right: 30px;
}
.about-advantages__image img {
	width: 100%;
	height: auto;
}
.about-advantages__grid {
	gap: 33px 115px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.unit-advantage__head {
	margin-bottom: 24px;
	gap: 20px;
	display: flex;
	align-items: center;
}
.unit-advantage__icon {
	width: 104px;
	height: 104px;
	padding: 20px;
	background: #f3f0ed;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
}
.unit-advantage__icon img {
	max-width: 100%;
	max-height: 100%;
}
.title-block {
	font-size: 20px;
	line-height: 140%;
	color: #333;
	font-weight: 500;
	font-family: 'Roboto Slab';
	font-weight: 500;
}

.consultation__main {
	padding: 50px 46px;
	background-image: url(../img/consultation.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.consultation__form {
	max-width: 615px;
}
.consultation__main .title-section {
	margin: 0;
	max-width: 875px;
	margin-bottom: 40px;
}
.consultation__form .btn-main {
	width: 325px;
	margin-top: 23px;
	max-width: 100%;
}
.suppliers-form .checkbox,
.consultation__form .checkbox {
	margin-top: 20px;
	font-size: 14px;
	color: #949597;
	line-height: 140%;
}
.suppliers-form .checkbox label input::before,
.consultation__form .checkbox label input::before {
	top: 0;
	font-weight: 700;
}
.suppliers-form .item-form textarea,
.suppliers-form .item-form input,
.consultation__form .item-form textarea,
.consultation__form .item-form input {
	padding-left: 16px;
	padding-right: 16px;
	font-weight: 300;
	border: none;
}
.consultation {
	padding-top: 30px;
	padding-bottom: 84px;
}
.consultation__form .row>div {
	padding: 0 5px;
}
.consultation__form .row {
	margin: 0 -5px;
}
.input-upload {
	margin-bottom: 10px;
	cursor: pointer;
}
.input-upload label {
	position: relative;
	display: block;
}
.consultation__form *::-webkit-input-placeholder {
	color: #1a0d00;
}
.consultation__form *:-moz-placeholder {
	color: #1a0d00;
}
.consultation__form *::-moz-placeholder {
	color: #1a0d00;
}
.consultation__form *:-ms-input-placeholder {
	color: #1a0d00;
}
.input-upload input {
	width: 100% !important;
	height: 100% !important;
	padding: 0 !important;
	opacity: 0 !important;
	position: absolute;
	top: 0;
	cursor: pointer;
	left: 0;
	z-index: 10;
}
.input-upload__content {
	height: 54px;
	padding: 0 8px;
	font-size: 14px;
	gap: 10px;
	cursor: pointer;
	line-height: 140%;
	color: #1a0d00;
	font-weight: 300;
	border-radius: 6px;
	background: #fff;
	display: flex;
	align-items: center;
}
.input-upload .name-upload {
	position: absolute;
	top: auto;
	bottom: 10px;
	left: 36px;
	margin-top: 0;
	font-size: 10px;
	line-height: 12px;
}

.billbord-page--delivery .billbord-page__main {
	min-height: 371px;
	background-image: url(../img/billbord_delivery.jpg);
}
.billbord-page--delivery .billbord-page__content p {
	max-width: 440px;
}
.image-page img {
	width: 100%;
	height: auto;
}
.page-delivery {
	padding-bottom: 90px;
}
.radio-main,
.checkbox-main {
	font-size: 15px;
	line-height: 140%;
	justify-content: center;
	font-weight: 400;
	letter-spacing: normal;
	display: flex;
	text-align: left;
}
.radio-main label,
.checkbox-main label {
	position: relative;
	display: block;
}
.radio-main label input,
.checkbox-main label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.radio-main label>span,
.checkbox-main label>span {
	position: relative;
	padding: 1px 0 0 19px;
	min-height: 18px;
	display: block;
	cursor: pointer;
}
.radio-main label>span:before,
.checkbox-main label>span:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0;
	width: 18px;
	height: 18px;
	border: 1px solid #333;
	background: #fff;
	border-radius: 3px;
	transition: .2s;
}
.radio-main label>span:after,
.checkbox-main label>span:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 18px;
	height: 18px;
	content: "\f00c";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 400;
	background-image: none;
	color: #f07d00;
	font-size: 11px;
	opacity: 0;
	transition: .2s;
}
.radio-main label input:checked+span:after,
.checkbox-main label input:checked+span:after {
	opacity: 1;
}
.top-filter {
	margin-bottom: 22px;
	display: flex;
	align-items: center;
}
.btn-filter {
	gap: 15px;
	display: inline-flex;
	align-items: center;
	font-weight: 500;
	color: #333;
	margin-right: auto;
}
.sorting-catalog {
	gap: 10px;
	display: flex;
	align-items: center;
}
.sorting-catalog select {
	opacity: 0;
}
.sorting-catalog .jq-selectbox__dropdown li,
.sorting-catalog .jq-selectbox__select-text {
	font-size: 14px;
	line-height: 120%;
	color: #666a72;
	width: auto !important;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
.sorting-catalog .jq-selectbox__dropdown {
	padding: 12px;
	top: 100% !important;
	left: 0;
	width: max-content !important;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
	background: #fff;
	bottom: auto !important;
}
.sorting-catalog .jq-selectbox__dropdown ul {
	gap: 12px;
	min-height: 110px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.sorting-catalog .jq-selectbox__select-text {
	cursor: pointer;
}
.sorting-catalog .jq-selectbox__trigger {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 400;
	font-size: 80%;
	cursor: pointer;
}
.sorting-catalog .jq-selectbox__select {
	gap: 17px;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.sorting-catalog .jq-selectbox__trigger::after {
	content: "\f078";
}
.view-catalog {
	margin-left: 65px;
	gap: 16px;
	display: flex;
	align-items: center;
}
.btn-view {
	cursor: pointer;
}
.btn-view rect {
	transition: all 0.3s;
}
.btn-view.active rect {
	fill: #666A72;
}
.main-filter {
	margin-bottom: 20px;
	gap: 6px;
	display: flex;
	align-items: center;
}
.item-select {
	font-size: 14px;
	line-height: 160%;
	flex-grow: 1;
	position: relative;
}
.item-select__value {
	height: 40px;
	padding: 0 12px;
	gap: 18px;
	display: flex;
	align-items: center;
	cursor: pointer;
	background: #faf8f7;
	justify-content: space-between;
}
.item-select__value.active::after {
	transform: rotate(180deg);
}
.item-select__value::after {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 700;
	font-size: 70%;
	cursor: pointer;
	content: "\f078";
	transition: all 0.3s;
}
.main-filter .btn-main {
	padding: 0 16px;
	height: 37px;
	font-size: 12px;
	margin: 0 auto;
}
.btn-delate {
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	border: none;
	background: transparent;
	cursor: pointer;
}
.btn-delate img {
	max-width: 100%;
	max-height: 100%;
}
.item-select__dropdown {
	padding: 24px;
	width: 294px;
	top: 100%;
	left: 50%;
	border-radius: 6px;
	transform: translateX(-50%);
	position: absolute;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
	background: #fff;
	display: none;
	z-index: 5;
}
.item-select:nth-child(1) .item-select__dropdown {
	left: 0;
	transform: none;
}
.item-select .radio-main,
.item-select .checkbox-main {
	margin-bottom: 10px;
	justify-content: flex-start;
}
.item-select .radio-main:last-child,
.item-select .checkbox-main:last-child {
	margin-bottom: 0;
}
.item-select .radio-main label>span,
.item-select .checkbox-main label>span {
	padding-left: 25px;
}
.radio-main label>span:before {
	border-radius: 50%;
}
.radio-main label>span:after {
	content: "\f192";
	font-size: 19px;
	font-weight: 700;
}
.range-controls {
	gap: 18px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.range-controls__input {
	flex: 1;
	position: relative;
}
.range-controls input {
	height: 42px;
	padding: 0 16px;
	border-radius: 6px;
	border: 1px solid rgba(102, 106, 114, 0.5);
	border-radius: 6px;
	background: #fff;
	width: 100%;
	font-size: 14px;
	line-height: 160%;
	color: #666A72;
	font-family: 'Roboto';
}
.irs--flat .irs-line {
	height: 2px;
	border-radius: 0px;
	background: rgba(102, 106, 114, 0.5);
}
.irs--flat .irs-bar {
	height: 2px;
	border-radius: 0px;
	background: rgba(102, 106, 114, 0.5);
}
.irs-handle i {
	display: none !important;
}
.irs--flat .irs-handle {
	width: 16px;
	height: 16px;
	top: 18px;
	background: #f07d00;
	border: 2px #666a72 solid;
	cursor: pointer;
	border-radius: 50%;
}
.irs--flat .irs-min, .irs--flat .irs-max {
	display: none !important;
}
.range-controls__slider {
	position: absolute !important;
	display: block !important;
	top: 0 !important;
	left: 0 !important;
	width: 0 !important;
	height: 0 !important;
	font-size: 0 !important;
	line-height: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	overflow: hidden;
	outline: none !important;
	z-index: -9999 !important;
	background: none !important;
	border-style: solid !important;
	border-color: transparent !important;
}
.range-catalog {
	margin-bottom: 0px;
}

.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
	display: none;
}
.page-catalog .title-middle {
	margin-bottom: 17px;
	font-weight: 500;
}
.radio-main label input:checked+span:before {
	opacity: 0;
}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
	font-size: 16px;
	top: 32px;
	line-height: 160%;
	color: #1a0d00;
	background: transparent;
	padding: 0;
	border: none;
}
.badges {
	top: 10px;
	left: 10px;
	gap: 5px;
	z-index: 2;
	position: absolute;
	display: flex;
	flex-wrap: wrap;
}
.badges__item {
	border-radius: 6px;
	padding: 6px 10px;
	font-size: 13px;
	line-height: 160%;
	color: #000;
	font-weight: 500;
	background: #f0d78e;
}
.badges__item--hit {
	background: #f0d78e;
}
.badges__item--new {
	background: #c4e8bc;
}
.badges__item--sale {
	background: #eea8a8;
}
.pager {
	height: 41px;
	margin-top: 34px;
	gap: 60px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.page-numbers {
	color: #1a0d00;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-numbers:hover,
.page-numbers.current {
	color: #f07d00;
}
.prev.page-numbers,
.next.page-numbers {
	width: 41px;
	height: 41px;
	font-size: 18px;
	color: #1A0D00;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f3f0ed;
}
.prev.page-numbers {
	left: 0px;
}
.next.page-numbers {
	right: 0px;
}
.page-numbers.dots {
	pointer-events: none;
}
.page-catalog {
	padding-bottom: 90px;
}

.billbord-page--suppliers .billbord-page__main {
	min-height: 371px;
	background-image: url(../img/billbord_suppliers.jpg);
}
.for-suppliers__grid {
	gap: 68px;
	grid-template-columns: repeat(3, 1fr);
	display: grid;
}
.suppliers-form {
	padding-top: 70px;
	padding-bottom: 90px;
}
.suppliers-form__main {
	padding: 45px;
	border-radius: 8px;
	background-color: #f3f0ed;
	background-image: url(../img/arrow_suppliers.svg);
	background-repeat: no-repeat;
	background-position: 71px 255px;
}
.suppliers-form .title-section {
	margin-top: 0;
}
.suppliers-form__step {
	padding-left: 166px;
	margin-bottom: 55px;
	position: relative;
}
.suppliers-form__count {
	width: 80px;
	height: 80px;
	font-size: 36px;
	line-height: 120%;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	top: 0;
	left: 0;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f07d00;
	position: absolute;
}
.suppliers-form__title {
	font-size: 24px;
	padding-top: 6px;
	padding-bottom: 28px;
	max-width: 795px;
	line-height: 140%;
	color: #1a0d00;
}
.suppliers-form__content {
	max-width: 1120px;
}
.suppliers-form__step:last-child {
	margin-bottom: 0;
}
.suppliers-form .btn-main {
	width: 100%;
}
.suppliers-form .checkbox {
	margin-top: 0;
}
.suppliers-form .row>div {
	padding: 0 6px;
}
.suppliers-form .row {
	margin: 0 -6px;
}
.suppliers-form .item-form,
.suppliers-form .input-upload {
	margin-bottom: 15px;
}
.suppliers-form *::-webkit-input-placeholder {
	color: #1a0d00;
}
.suppliers-form *:-moz-placeholder {
	color: #1a0d00;
}
.suppliers-form *::-moz-placeholder {
	color: #1a0d00;
}
.suppliers-form *:-ms-input-placeholder {
	color: #1a0d00;
}

.basket-sidebar__title {
	font-size: 20px;
	padding-bottom: 8px;
	margin-bottom: 4px;
	line-height: 160%;
	font-weight: 500;
	border-bottom: 1px solid #c2c2c2;
}
.basket-sidebar__content {
	padding: 11px;
	width: 354px;
	top: 0;
	position: sticky;
	transition: all 0.3s;
}
.item-basket {
	padding: 6px 0;
	font-size: 14px;
	line-height: 140%;
	border-bottom: 1px solid #c2c2c2;
}
.item-basket__head {
	gap: 9px;
	margin-bottom: 4px;
	display: flex;
	align-items: center;
}
.item-basket__number {
	font-size: 16px;
	line-height: 140%;
	font-weight: 500;
}
.item-basket__title {
	font-weight: 500;
	color: #333;
}
.item-basket__content {
	padding-right: 20px;
	gap: 10px;
	display: flex;
	align-items: center;
}
.status-basket {
	width: 3px;
	height: 20px;
	margin-right: 6px;
	background: #55a545;
	flex: none;
}
.status-basket_paid {
	background: #D5B454;
}
.status-basket_wait {
	background: #ff3434;
}
.price-basket {
	min-width: 26%;
}
.price-basket_total {
	color: #133C59;
	font-weight: 500;
}
.remove-basket {
	font-size: 16px;
	color: #333;
	cursor: pointer;
	margin-left: auto;
}

.quantity {
	width: 53px;
	height: 24px;
	display: flex;
	border-radius: 3px;
	background: #fff;
	position: relative;
}
.quantity-button {
	width: 22px;
	font-size: 12px;
	height: 50%;
	top: 0;
	right: 0;
	position: absolute;
	border: none;
	background: transparent;
	padding: 0;
	cursor: pointer;
	user-select: none;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}
.quantity-up {
	background-position: left bottom 2px;
}
.quantity-down {
	bottom: 0;
	top: auto;
	background-position: left top 2px;
}
.quantity_main .quantity-up {
	background-image: url(../img/up.svg);
}
.quantity_main .quantity-down {
	background-image: url(../img/down.svg);
}
.quantity input {
	flex: 0.5;
	width: 100%;
	padding: 0 10px;
	font-size: 14px;
	line-height: 140%;
	font-family: "Roboto";
	color: #000;
	font-weight: 500;
	border: none;
	border: none;
	background-color: transparent;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
	-moz-appearance: textfield;
}
.image-card {
	height: 437px;
	padding: 30px;
	border: 1px solid rgba(102, 106, 114, 0.5);
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.image-card img {
	max-width: 100%;
	max-height: 100%;
}
.wrap-image-card {
	margin-right: 0;
	position: relative;
}
.wrap-image-card .badges-wrap {
	top: 15px;
	left: 10px;
}
.card-content {
	font-size: 14px;
	margin-left: 15px;
	line-height: 140%;
}
.articul-card {
	padding: 10px 16px;
	margin-bottom: 13px;
	border-radius: 6px;
	background: #f3f0ed;
	display: inline-block;
	vertical-align: middle;
}
.features-wrap {
	margin: 43px 0;
	max-width: 365px;
}
.feature {
	margin-bottom: 12px;
	display: flex;
	align-items: center;
}
.feature__title {
	width: 57%;
}
.feature:last-child {
	margin-bottom: 0;
}
.feature__title {
	color: #000;
}
.feature__value {
	order: 2;
	color: #666a72;
}
.feature__value--accent {
	color: #f07d00;
}
.prices-card {
	max-width: 290px;
	margin-bottom: 12px;
	gap: 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.prices-card .price-main {
	font-size: 24px;
	line-height: 140%;
	min-width: 100px;
	font-weight: 500;
}
.prices-card .price-old {
	font-size: 16px;
	line-height: 140%;
	color: #666a72;
	font-weight: 400;
}
.quantity.quantity_main {
	width: 129px;
	height: 50px;
	border-radius: 6px;
	border: 1px solid #edebe9;
}
.quantity.quantity_main .quantity-button {
	height: 100%;
	flex: 1;
	width: auto;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center;
}
.quantity input {
	font-size: 16px;
	flex: 0.7;
	font-weight: 500;
	text-align: center;
	padding: 0;
}
.card-actions {
	gap: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.card-actions .btn-main {
	height: 50px;
	flex: 1;
	padding: 0 10px;
}
.card-bottom {
	max-width: 336px;
}
.card-bottom .btn-main.btn-main_add {
	margin-top: 14px;
	height: 50px;
	width: 100%;
	padding: 0 10px;
}
.page-card .tabs {
	margin-top: 20px;
}
.tabs {
	margin-bottom: 29px;
	gap: 6px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.tabs a {
	height: 54px;
	padding: 0 30px;
	font-weight: 500;
	color: #333;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid rgba(102, 106, 114, 0.5);
	border-radius: 6px;
	background: #fff;
}
.tabs .active a {
	background: #f3f0ed;
	border-color: #f3f0ed;
}
.tab-pane {
	display: none;
}
.tab-pane:first-child {
	display: block;
}
.tab-container {
	margin-bottom: 40px;
}
.features-wrap_main {
	max-width: 696px;
	margin: 0;
}
.features-wrap_main .feature__title::after {
	flex: 1;
	overflow: hidden;
	content: "........................................................................................................................";
}
.features-wrap_main .feature__title {
	width: 41%;
	display: flex;
}
.features-wrap_main .feature__value {
	color: #333;
}
.share-block {
	padding: 10px 16px;
	font-size: 14px;
	gap: 10px;
	line-height: 140%;
	color: #000;
	display: inline-flex;
	align-items: center;
	vertical-align: middle;
	background: #f5f5f5;
}
.socials-list {
	gap: 10px;
	display: flex;
	align-items: center;
}
.socials-list img {
	width: 35px;
	height: auto;
}
.page-card {
	padding-bottom: 70px;
}
.page-card .title-middle {
	margin-bottom: 23px;
	font-weight: 500;
}
.availability-catalog {
	font-size: 13px;
	padding-left: 16px;
	line-height: 140%;
	position: relative;
}
.availability-catalog::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	border-radius: 50%;
}
.availability-catalog_order {
	color: #3B6889;
}
.availability-catalog_order::before {
	background: #3B6889;
}
.availability-catalog_available {
	color: #55a545;
}
.availability-catalog_available::before {
	background: #55a545;
}
.item-catalog-simple {
	padding: 10px 24px;
	gap: 20px;
	max-width: 697px;
	font-size: 14px;
	line-height: 140%;
	border-radius: 8px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	color: #333;
}
.item-catalog-simple__image {
	width: 65px;
	height: 54px;
	display: block;
}
.item-catalog-simple__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
}
.item-catalog-simple__title {
	margin-bottom: 6px;
	color: #333;
	font-weight: 500;
	display: block;
}
.item-catalog-simple__content {
	display: block;
	flex: 1;
}
.item-catalog-simple__descr {
	display: block;
}
.wrap-image-card .btn-favorite {
	font-size: 21px;
	opacity: 1;
}
.relatives {
	padding-bottom: 90px;
}
.relatives .title-section {
	margin-top: 0;
}

.item-news {
	padding: 20px;
	border: 1px solid rgba(102, 106, 114, 0.5);
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 100%;
	transition: all 0.3s;
}
.item-news__image {
	height: 207px;
	margin-bottom: 14px;
	display: block;
	width: 100%;
}
.item-news__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.item-news__content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 1;
	width: 100%;
}
.item-news__title {
	font-size: 20px;
	padding-bottom: 14px;
	margin-bottom: auto;
	line-height: 140%;
	color: #1a0d00;
	font-weight: 500;
	display: block;
	width: 100%;
	font-family: 'Roboto Slab';
}
.item-news__text {
	color: #1a0d00;
	display: block;
	width: 100%;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.item-news__bottom {
	padding-top: 30px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item-news__date {
	font-size: 14px;
	line-height: 160%;
	color: #666a72;
}
.page-news .title-middle {
	margin-bottom: 22px;
	font-weight: 500;
	color: #1a0d00;
}
.btn-main--border {
	border: 1px solid #f07d00;
	background: transparent;
	color: #f07d00;
}
.item-news .btn-main {
	height: 40px;
	font-size: 14px;
}
.page-news {
	padding-bottom: 90px;
}
.row--main>.col-lg-6:nth-child(odd)>.item-news {
	background: #f3f0ed;
}
.page-article .col-lg-12:nth-child(even)>.item-news {
	background: #f3f0ed;
}
.article-content {
	padding-right: 45px;
	color: #1a0d00;
}
.article-content img {
	margin-bottom: 22px;
	border-radius: 6px;
	max-width: 100%;
	height: auto;
}
.article-content p {
	margin-bottom: 20px;
}
.article-content h1 {
	font-size: 32px;
	margin-bottom: 24px;
	margin-top: 22px;
	line-height: 140%;
	font-weight: 500;
}
.article-content strong {
	font-weight: 500;
}
.article-content h2 {
	font-size: 20px;
	margin-top: 40px;
	margin-bottom: 15px;
	line-height: 140%;
	font-weight: 500;
	font-family: 'Roboto Slab';
}
.article-content ul {
	padding-left: 20px;
}
.article-content ul li {
	list-style-type: disc;
}
.article-content ul li::marker {
	font-size: 60%;
}
.page-article {
	padding-bottom: 90px;
}
.page-contacts {
	padding-bottom: 200px;
	color: #1a0d00;
}
.page-contacts .title-middle {
	margin-bottom: 27px;
	font-weight: 500;
}
.contacts-main {
	padding: 33px 44px;
	margin-right: 20px;
	border-radius: 12px;
	min-height: 100%;
	background: #f3f0ed;
}
.contacts-main__title {
	font-size: 24px;
	margin-bottom: 32px;
	line-height: 140%;
	font-weight: 500;
}
.contacts-main__subtitle {
	font-size: 20px;
	margin-bottom: 8px;
	line-height: 140%;
	font-weight: 500;
}
.contacts-main__item {
	max-width: 314px;
	margin-bottom: 48px;
}
.contacts-main__item:last-child {
	margin-bottom: 0;
}
.contacts-main__item p {
	margin: 0;
}
.contacts-main__item p a {
	color: #1a0d00;
}
.contacts-main__item--requisites {
	line-height: 180%;
}
.col-requisites {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.col-requisites .btn-main {
	margin-top: auto;
}
.form-main {
	padding: 24px 36px;
	padding-bottom: 32px;
	border-radius: 12px;
	background: #f3f0ed;
}
.title-form {
	font-size: 24px;
	margin-bottom: 24px;
	line-height: 160%;
	text-align: center;
	color: #1a0d00;
	font-weight: 500;
}
.form-main .btn-main {
	width: 100%;
	margin-top: 15px;
}
.form-main .checkbox {
	opacity: 0.5;
}
.form-main .checkbox label input::before {
	color: #525252;
}
.form-main .checkbox label input {
	border-color: #525252;
}
.col-lg-4 .form-main {
	margin-left: -10px;
}
.page-basket {
	color: #1a0d00;
}
.page-basket .title-middle {
	margin-bottom: 26px;
	font-weight: 500;
}
.table-basket table {
	font-size: 14px;
	line-height: 140%;
	width: 100%;
	border-spacing: 0;
}
.table-basket table th {
	padding: 17px 15px;
	font-weight: 500;
	text-align: left;
	background: #faf8f7;
}
.table-basket table td {
	padding: 12px 15px;
	border-bottom: 1px solid #c2c2c2;
	position: relative;
}
.table-basket table .checkbox-main,
.table-basket table .status-basket {
	top: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
}
.table-basket table .checkbox-main {
	right: 100%;
	margin-right: -8px;
	left: auto;
	display: flex;
	align-items: center;
}
.table-basket table strong {
	font-weight: 500;
}
.table-basket table a {
	color: #333;
	font-weight: 500;
}
.table-basket .quantity {
	width: 67px;
}
.fal, .far {
	font-family: "Font Awesome 5 Pro" !important;
}
.table-basket table td:last-child {
	padding-left: 0;
	padding-right: 0;
}
.name-basket-td {
	max-width: 240px;
	display: block;
}
.basket-button {
	padding-top: 22px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.basket-button .btn-main {
	height: 40px;
	font-size: 14px;
}
.info-cart {
	margin-bottom: 14px;
	background: #faf8f7;
}
.info-cart__total {
	padding: 15px;
	padding-bottom: 11px;
	font-size: 20px;
	line-height: 140%;
	font-weight: 500;
	border-bottom: 1px solid #c2c2c2;
}
.info-cart__total strong {
	font-weight: 700;
	margin-left: 12px;
	color: #133C59;
}
.info-cart__content {
	padding: 22px 14px;
}
.info-cart__item {
	margin-bottom: 14px;
}
.info-cart__title {
	margin-bottom: 8px;
	font-weight: 500;
}
.info-cart__item strong {
	font-weight: 500;
}
.info-cart .btn-main {
	height: 54px;
	margin-top: 16px;
	width: 100%;
	padding: 0 10px;
}
.info-cart__value {
	font-size: 14px;
	line-height: 140%;
}
.btn-main.btn-main_custom {
	border: 1px solid #D5B454;
	background: transparent;
	color: #D5B454;
}
.info-dropdown {
	margin-bottom: 10px;
	background: #f5f5f5;
}
.info-dropdown__head {
	padding: 20px;
	font-size: 20px;
	line-height: 140%;
	gap: 10px;
	font-weight: 500;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.info-dropdown__head i {
	transition: all 0.3s;
}
.info-dropdown.active .info-dropdown__head i {
	transform: rotate(180deg);
}
.info-dropdown__content {
	padding: 20px;
	font-size: 14px;
	line-height: 160%;
	padding-top: 0;
	display: none;
}
.info-dropdown__content p {
	margin-bottom: 15px;
}
.info-dropdown__content p:last-child {
	margin-bottom: 0;
}
.sidebar-cart {
	margin-left: -40px;
}
.basket-content {
	margin-right: 40px;
}
.basket-content .title-middle {
	margin-top: 60px;
}
.page-basket {
	padding-bottom: 90px;
}
.page-thanks {
	padding-top: 20px;
	padding-bottom: 40px;
}
.thanks-main {
	min-height: 540px;
	padding: 102px 44px;
	border-radius: 24px;
	background-image: url(../img/bg_thanks.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #1a0d00;
}
.thanks-main__title {
	font-size: 48px;
	margin-bottom: 10px;
	line-height: 160%;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Roboto Slab';
}
.thanks-main__descr {
	font-size: 20px;
	line-height: 160%;
	font-weight: 500;
}
.thanks-main__buttons {
	padding-top: 138px;
	gap: 10px;
	display: flex;
	align-items: center;
}
.thanks-main .btn-main {
	height: 54px;
}  