/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1600px) {
    .slick-arrow {
        width: 33px;
        height: 33px;
        font-size: 14px;
    }
    .slick-prev {
        left: -37px;
    }
    .slick-next {
        right: -37px;
    }
    .container {
        padding: 0 47px;
    }
    .sidebar {
        padding-left: 15px;
    }
    .sidebar__content {
        padding-top: 13px;
    }
    .logo-wrap {
        gap: 13px;
        margin-bottom: 10px;
    }
    .logo img {
        width: 125px;
    }
    .logo-descr {
        font-size: 12px;
        max-width: 123px;
    }
    .nav__list {
        gap: 12px;
    }
    .nav__list a {
        padding: 6px;
    }
    .header__wrapper {
        gap: 20px;
    }
    .header {
        font-size: 13px;
        padding: 15px 0;
    }
    .link-email {
        gap: 8px;
    }
    .file-upload__btn svg,
    .search-main__btn svg,
    .link-email svg {
        width: 20px;
        height: 20px;
    }
    .search-main input {
        height: 43px;
    }
    .search-main__btn {
        height: 43px;
        width: 43px;
    }
    .billbord__main {
        min-height: 470px;
        padding: 35px;
    }
    .billbord__subtitle {
        font-size: 24px;
        max-width: 395px;
    }
    .billbord__title {
        font-size: 33px;
        margin-bottom: 19px;
        max-width: 560px;
    }
    .billbord__title strong {
        font-size: 51px;
    }
    .billbord__descr {
        font-size: 17px;
        max-width: 316px;
    }

    .row>div {
        padding: 0 6px;
    }
    .row {
        margin: 0 -6px;
    }
    .row.row--main>div {
        margin-bottom: 12px;
    }
    .row.row--main {
        margin-bottom: -12px;
    }
    .advantages__item {
        padding: 15px;
        gap: 15px;
    }
    body {
        font-size: 14px;
    }
    .advantages__title {
        margin-bottom: 12px;
    }
    .advantages__text {
        font-size: 12px;
    }
    .advantages__icon {
        width: 95px;
        height: 95px;
    }
    .title-section {
        font-size: 28px;
        margin-top: 41px;
        margin-bottom: 32px;
    }
    .item-accordion__inner {
        padding: 30px 15px;
    }
    .slider-accordion {
        gap: 8px;
    }
    .item-accordion__count {
        font-size: 75px;
    }
    .item-accordion__subtitle {
        font-size: 22px;
    }
    .item-accordion__head {
        padding: 28px 0;
        width: 109px;
    }
    .title-middle {
        font-size: 24px;
    }
    .item-accordion__inner .title-middle {
        margin-bottom: 22px;
    }
    .item-accordion {
        height: 455px;
    }
    .calculation__main {
        padding: 20px;
    }
    .calculation__descr {
        font-size: 16px;
        margin-bottom: 22px;
    }
    .row.row--calculation>div {
        padding: 0 20px;
    }
    .row.row--calculation {
        margin: 0 -20px;
    }
    .file-upload__btn {
        padding: 15px 20px;
        border-radius: 6px;
        font-size: 17px;
        gap: 16px;
    }
    .file-upload__content {
        height: 218px;
    }
    .calculation__button {
        padding-top: 20px;
    }
    .btn-main {
        height: 55px;
        font-size: 14px;
        padding: 0 26px;
    }
    .calculation__button .btn-main {
        width: 270px;
    }
    .item-catalog__content {
        padding: 0;
    }
    .item-catalog__buttons {
        padding-top: 18px;
        gap: 4px;
    }
    .item-catalog__buttons .btn-main {
        height: 37px;
        font-size: 12px;
        padding: 0 4px;
    }
    .slider-partners .slick-slide,
    .slider-catalog .slick-slide {
        padding: 15px 6px;
    }
    .slider-partners .slick-list,
    .slider-catalog .slick-list {
        margin: -15px -6px;
    }
    .item-catalog {
        padding: 6px;
        padding-bottom: 13px;
    }
    .price-main {
        font-size: 19px;
    }
    .price-old {
        font-size: 14px;
    }
    .item-catalog__image {
        height: 170px;
        margin-bottom: 8px;
    }
    .partners__main {
        padding: 30px;
    }
    .slider-partners {
        margin: 0 34px;
    }
    .item-partner {
        height: 135px;
    }
    .contacts__main {
        padding: 23px 25px;
        font-size: 17px;
        min-height: 380px;
    }
    .contacts__title {
        font-size: 21px;
    }
    .contacts__item {
        margin-bottom: 35px;
    }
    .footer {
        font-size: 15px;
    }
    .footer__phone {
        font-size: 20px;
    }
    .menu__list a {
        padding: 10px;
    }
    .menu__arrow {
        width: 45px;
        height: 45px;
    }
    .menu__list>li>a {
        margin-right: 45px;
    }
    .calculation__subtitle {
        font-size: 16px;
    }
    .calculation__alert {
        gap: 12px;
    }
    .calculation__alert svg {
        width: 20px;
    }
    .calculation__information {
        padding-bottom: 20px;
        padding-top: 15px;
    }
    .billbord-page .title-section {
        font-size: 34px;
        margin-bottom: 20px;
    }
    .billbord-page__descr {
        font-size: 17px;
        margin-bottom: 12px;
    }
    .billbord-page__text {
        font-size: 15px;
    }
    .billbord-page__content {
        max-width: 535px;
    }
    .billbord-page__main {
        padding: 18px 35px;
        min-height: 470px;
    }
    .billbord-page .breadcrumbs {
        padding-bottom: 55px;
    }
    .breadcrumbs {
        font-size: 12px;
    }
    .about-advantages .title-section {
        margin-bottom: 30px;
    }
    .about-advantages__grid {
        gap: 30px 60px;
    }
    .unit-advantage__head {
        margin-bottom: 18px;
        gap: 15px;
    }
    .unit-advantage__icon {
        width: 92px;
        height: 92px;
    }
    .title-block {
        font-size: 18px;
    }
    .consultation__main .title-section {
        max-width: 795px;
        margin-bottom: 22px;
    }
    .consultation__main {
        padding: 28px 35px;
    }
    .consultation__form {
        max-width: 515px;
    }
    .consultation__form .btn-main {
        width: 280px;
        margin-top: 20px;
    }
    .item-form textarea, .item-form input {
        height: 48px;
        padding: 0 15px;
        font-size: 13px;
    }
    .input-upload__content {
        height: 48px;
        padding: 0 8px;
        font-size: 13px;
    }
    .item-form textarea {
        height: 100px;
        padding-top: 13px;
    }
    .checkbox label {
        gap: 15px;
    }
    .consultation__form .checkbox {
        margin-top: 14px;
        font-size: 13px;
    }
    .page-delivery,
    .consultation {
        padding-bottom: 70px;
    }
    .item-select {
        font-size: 13px;
    }
    .item-select__dropdown {
        width: 260px;
    }
    .pager {
        gap: 40px;
    }
    .billbord-page--delivery .billbord-page__main,
    .billbord-page--suppliers .billbord-page__main {
        min-height: 305px;
    }
    .for-suppliers__grid {
        gap: 38px;
    }
    .suppliers-form__main {
        padding: 33px;
        background-position: 57px 186px;
    }
    .suppliers-form__step {
        padding-left: 115px;
        margin-bottom: 33px;
    }
    .suppliers-form__count {
        width: 70px;
        height: 70px;
        font-size: 28px;
    }
    .suppliers-form__title {
        font-size: 20px;
        padding-top: 3px;
        padding-bottom: 22px;
        max-width: 696px;
    }
    .suppliers-form__content {
        max-width: 945px;
    }
    .suppliers-form {
        padding-top: 50px;
        padding-bottom: 62px;
    }
    .image-card {
        height: 385px;
    }
    .features-wrap {
        margin: 25px 0;
    }
    .feature {
        margin-bottom: 9px;
    }
    .tabs a {
        height: 48px;
        padding: 0px 27px;
    }
    .page-news,
    .relatives {
        padding-bottom: 70px;
    }
    .item-news {
        padding: 15px;
    }
    .item-news__title {
        font-size: 17px;
        padding-bottom: 11px;
    }
    .item-news__bottom {
        padding-top: 20px;
    }
    .item-news__image {
        height: 184px;
        margin-bottom: 11px;
    }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .sidebar {
        display: none;
    }
    .footer__wrapper, .wrapper-page {
        display: block;
    }
    .billbord-page__content {
        max-width: 496px;
    }
    .main-filter {
        flex-wrap: wrap;
    }
    .main-filter .btn-main {
        margin-left: 0;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .slider-accordion {
        display: block;
    }
    .item-accordion {
        margin-bottom: 15px;
        margin-right: 0;
        height: auto;
        display: block;
    }
    .item-accordion__number {
        margin-bottom: 0;
    }
    .item-accordion__head .item-accordion__title {
        writing-mode: initial;
        text-orientation: initial;
        transform: none;
        text-align: left;
    }
    .item-accordion:first-child .item-accordion__content {
        display: block;
    }
    .item-accordion__content {
        width: 100%;
        display: none;
        overflow: initial;
        transition: initial;
    }
    .item-accordion__inner, .item-accordion.active .item-accordion__content {
        width: 100%;
    }
    .item-accordion__inner {
        padding: 20px 15px;
        transform: none !important;
        height: auto;
    }
    .item-accordion__text {
        max-height: initial;
        overflow: initial;
    }
    .item-accordion__top {
        display: none;
    }
    .item-accordion__head {
        padding: 15px 15px;
        gap: 20px;
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .item-accordion.active .item-accordion__head .title-small {
        visibility: visible;
        opacity: 1;
    }
    .item-accordion__inner .title-small {
        margin-bottom: 14px;
    }
    .item-accordion__inner p {
        margin-bottom: 15px;
    }

    .container {
        padding: 0 15px;
    }
    .header__wrapper .link-email,
    .header__wrapper .search-main,
    .header__wrapper .nav {
        display: none;
    }
    .billbord__main {
        padding: 30px 15px;
        min-height: 400px;
        z-index: 1;
        position: relative;
        color: #fff;
    }
    .billbord__descr,
    .billbord__title,
    .billbord__subtitle {
        color: #fff;
    }
    .billbord__main::before {
        position: absolute;
        display: block;
        content: " ";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba(0, 0, 0, 0.5);
    }
    .billbord__subtitle {
        font-size: 16px;
        max-width: 260px;
    }
    .billbord__title {
        font-size: 21px;
        margin-bottom: 16px;
        max-width: 305px;
    }
    .billbord__title strong {
        font-size: 43px;
    }
    .billbord__descr {
        font-size: 15px;
        max-width: 274px;
    }
    .advantages__text {
        font-size: 13px;
    }
    .title-section {
        font-size: 25px;
        margin-top: 38px;
        margin-bottom: 28px;
    }
    .item-accordion__subtitle {
        writing-mode: initial;
    }
    .calculation {
        padding-top: 40px;
    }
    .title-middle {
        font-size: 20px;
    }
    .item-accordion__inner .title-middle {
        margin-bottom: 18px;
    }
    .calculation__descr {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .file-upload__content {
        padding: 15px 25px;
    }
    .row.row--calculation>div {
        margin-bottom: 25px;
    }
    .row.row--calculation>div:last-child {
        margin-bottom: 0;
    }
    .slider-partners,
    .slider-catalog {
        padding-bottom: 30px;
    }
    .slider-partners {
        margin: 0;
    }
    .item-partner {
        height: 106px;
    }
    .contacts__main {
        font-size: 15px;
        margin-top: 20px;
        padding: 20px 15px;
        min-height: initial;
    }
    .contacts__item {
        margin-bottom: 20px;
    }
    .contacts__title {
        font-size: 19px;
    }
    .footer__grid {
        grid-template-columns: 1fr 1fr;
    }
    .footer__column:first-child {
        order: -2;
    }
    .footer__column:nth-child(5) {
        order: -1;
    }
    .footer .logo img {
        width: 135px;
    }
    .footer__grid {
        padding-top: 34px;
        padding-bottom: 35px;
    }
    .footer__line {
        padding: 20px 0;
        padding-bottom: 70px;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 22px 15px;
    }
    .create img {
        width: 57px;
        margin-left: 7px;
    }
    .footer__links {
        flex-wrap: wrap;
    }
    .contacts {
        padding-bottom: 40px;
    }
    .btn-favorite {
        opacity: 1;
    }
    .header__wrapper .header__btn {
        display: none;
    }
    .logo img {
        width: 100px;
    }
    .header__wrapper .logo-wrap {
        margin: 0;
        margin-right: auto;
    }
    /*Style Sandwich*/
    .sandwich {
        width: 40px;
        height: 40px;
        padding-top: 13px;
        border-radius: 8px;
        background: #f07d00;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 20;
        flex: none;
        cursor: pointer;
    }
    .sw-topper {
        position: relative;
        top: 0px;
        width: 22px;
        height: 2px;
        display: block;
        margin: 0;
        background-color: #fff;
        border-radius: 2px;
        border: medium none;
        transition: transform 0.5s, top 0.2s;
    }
    .sw-bottom {
        position: relative;
        top: 4px;
        width: 22px;
        height: 2px;
        display: block;
        margin: 0;
        background-color: #fff;
        border-radius: 2px;
        border: medium none;
        transition: transform 0.5s, top 0.2s;
    }
    .sw-footer {
        position: relative;
        top: 9px;
        width: 22px;
        height: 2px;
        display: block;
        margin: 0;
        background-color: #fff;
        border-radius: 2px;
        border: medium none;
        transition: transform 0.5s, top 0.2s;
    }
    .sandwich.active .sw-topper {
        top: 7px;
        transform: rotate(45deg);
    }
    .sandwich.active .sw-bottom {
        opacity: 0;
    }
    .sandwich.active .sw-footer {
        top: 3px;
        transform: rotate(-45deg);
    }
    .no-scroll {
        overflow: hidden;
    }
    .phone-mobile {
        width: 40px;
        height: 40px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #666a72;
        text-align: center;
        color: #fff;
    }
    .header {
        padding: 10px 0;
    }
    .header .logo-descr {
        font-size: 10px;
        max-width: 100px;
    }
    .header__wrapper {
        gap: 15px;
    }
    .fixed-buttons {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        background: #fff;
        box-shadow: 0 0 5px #ccc;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .fixed-buttons__btn {
        width: 60px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .sidebar {
        top: 71px;
        padding: 15px;
        left: 0;
        width: 100%;
        z-index: 500;
        max-height: calc(100% - 71px);
        background: #fff;
        overflow: auto;
        border: none;
        position: fixed;
    }
    .sidebar__content {
        padding: 0;
        max-height: initial;
        overflow: initial;
    }
    .sidebar__content .logo-wrap {
        display: none;
    }
    .nav__list {
        margin-bottom: 15px;
        justify-content: space-between;
    }
    .menu-overlay {
        top: 100px;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        position: fixed;
        z-index: 300;
        display: none;
    }
    .nav__list a {
        padding: 4px 3px;
    }
    .item-accordion__count {
        font-size: 55px;
    }
    .item-accordion__subtitle {
        font-size: 18px;
    }
    .search-main {
        bottom: 50px;
        padding: 15px;
        left: 0;
        width: 100%;
        z-index: 200;
        position: fixed;
        background: #fff;
    }
    .search-main__btn {
        top: 15px;
        right: 15px;
    }
    .search-overlay {
        top: 0;
        left: 0;
        right: 0;
        bottom: 120px;
        background: rgba(0, 0, 0, 0.7);
        position: fixed;
        z-index: 600;
        display: none;
    }
    .open-search i {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
        opacity: 0;
    }
    .open-search svg {
        transition: all 0.3s;
    }
    .open-search.active svg {
        opacity: 0;
    }
    .open-search.active i {
        opacity: 1;
    }
    .calculation__info {
        padding: 20px 15px;
    }
    .calculation__subtitle {
        font-size: 15px;
        margin-bottom: 15px;
    }
    .calculation__information {
        padding-bottom: 0px;
        padding-top: 0;
    }
    .modal-wrap .btn-main {
        margin-top: 20px;
    }
    .modal-wrap {
        padding: 24px 15px;
    }
    .title-modal {
        font-size: 21px;
        margin-bottom: 18px;
    }
    .checkbox {
        margin-top: 20px;
    }
    .about-advantages__grid {
        grid-template-columns: 1fr;
    }
    .about-advantages__image {
        margin: 0;
        margin-bottom: 25px;
    }
    .billbord-page__main {
        padding: 15px;
        padding-bottom: 50px;
        background-position: 70% 50%;
        min-height: initial;
        position: relative;
        z-index: 1;
        color: #fff;
    }
    .billbord-page .breadcrumbs {
        padding-bottom: 35px;
        color: #fff;
    }
    .billbord-page .breadcrumbs a {
        color: #fff;
    }
    .billbord-page .breadcrumbs a:hover {
        border-color: #fff;
    }
    .billbord-page .title-section {
        font-size: 28px;
        color: #fff;
        margin-bottom: 17px;
    }
    .billbord-page__descr {
        font-size: 15px;
        margin-bottom: 9px;
        line-height: 140%;
    }
    .billbord-page__text {
        font-size: 13px;
        line-height: 140%;
    }
    .billbord-page__main::before {
        position: absolute;
        display: block;
        content: " ";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba(0, 0, 0, 0.5);
    }
    .partners {
        padding-top: 50px;
    }
    .consultation__main {
        padding: 30px 15px;
        background-position: left center;
    }
    .consultation__form .btn-main {
        width: 100%;
    }
    .page-delivery,
    .consultation {
        padding-bottom: 50px;
    }
    .top-filter {
        gap: 15px;
        flex-wrap: wrap;
    }
    .view-catalog {
        margin: 0;
        margin-left: auto;
    }
    .btn-filter {
        display: flex;
        width: 100%;
    }
    .page-catalog {
        padding-bottom: 60px;
    }
    .item-select {
        width: 48%;
    }
    .item-select__dropdown {
        left: 0;
        transform: none;
    }
    .item-select:nth-child(even) .item-select__dropdown {
        right: 0;
        left: auto;
    }
    .main-filter {
        gap: 11px;
    }
    .main-filter .btn-main {
        padding: 0 12px;
        height: 38px;
        font-size: 13px;
        width: 48%;
    }
    .for-suppliers__grid {
        gap: 20px;
        grid-template-columns: 1fr;
    }
    .suppliers-form__main {
        padding: 30px 15px;
        background-image: none;
    }
    .suppliers-form__step {
        padding: 0;
        margin-bottom: 25px;
    }
    .suppliers-form__count {
        margin-bottom: 12px;
        position: relative;
    }
    .suppliers-form__title {
        font-size: 18px;
    }
    .col-checkbox {
        order: 2;
    }
    .suppliers-form .checkbox {
        margin-top: 20px;
    }
    .suppliers-form {
        padding-top: 40px;
        padding-bottom: 50px;
    }
    .card-content {
        margin: 0;
        padding-top: 25px;
    }
    .tabs li {
        flex-grow: 1;
    }
    .tabs a {
        height: 40px;
        padding: 0 5px;
    }
    .page-card,
    .page-news,
    .relatives {
        padding-bottom: 50px;
    }
    .image-card {
        height: 300px;
    }
    .sorting-catalog {
        flex: 1;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {}


/*==========  Mobile First Method  ==========*/



/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .sidebar .nav,
    .fixed-buttons,
    .search-overlay,
    .header__wrapper .logo-wrap,
    .menu-overlay,
    .menu-mobile,
    .phone-mobile,
    .sandwich {
        display: none !important;
    }
    .search-main {
        display: block !important;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .sidebar {
        display: block !important;
    }
}
@media (min-width: 1600px) {}


/*hovers*/
@media (hover: hover) {
    .menu__list>li:hover {
        background: #f3f0ed;
    }
    .footer__nav li a:hover,
    .menu__dropdown ul li a:hover,
    .nav__list a:hover {
        color: #f07d00;
    }
    .btn-main:hover {
        background: #ff9420;
    }
    .slick-arrow:hover {
        background: #fff;
        color: #F07D00;
    }
    .btn-main.btn-main--page:hover {
        background: #1a0d00;
    }
    .footer__links a:hover {
        border-color: transparent;
    }
    .file-upload:hover .file-upload__btn {
        background: #1a0d00;
    }
    .footer .btn-main.btn-main--page:hover {
        background: #232221;
    }
    .item-catalog:hover {
        box-shadow: 0 0 10px 0 #efeeed;
    }
    .item-catalog:hover .btn-favorite {
        opacity: 1;
    }
    .modal-wrap__link a:hover {
        border-color: transparent;
    }
    .tabs a:hover {
        background: #f3f0ed;
        border-color: #f3f0ed;
    }
    .btn-main--border:hover {
        color: #fff;
    }
    a.item-news__title:hover {
        color: #F07D00;
    }
    .item-news:hover {
        box-shadow: 0 5px 15px rgba(102, 106, 114, 0.3);
    }
}


/*mobile hovers*/
@media (hover: none) {
    .footer__nav li a:active,
    .menu__dropdown ul li a:active,
    .nav__list a:active {
        color: #f07d00;
    }
    .btn-main:active {
        background: #ff9420;
    }
    .slick-arrow:active {
        background: #fff;
        color: #F07D00;
    }
    .btn-main.btn-main--page:active {
        background: #1a0d00;
    }
    .footer__links a:active {
        border-color: transparent;
    }
    .file-upload:active .file-upload__btn {
        background: #1a0d00;
    }
    .footer .btn-main.btn-main--page:active {
        background: #232221;
    }
    .item-catalog:active {
        box-shadow: 0 0 10px 0 #efeeed;
    }
    .item-catalog:active .btn-favorite {
        opacity: 1;
    }
    .modal-wrap__link a:active {
        border-color: transparent;
    }
    .tabs a:active {
        background: #f3f0ed;
        border-color: #f3f0ed;
    }
    .btn-main--border:active {
        color: #fff;
    }
    a.item-news__title:active {
        color: #F07D00;
    }
    .item-news:active {
        box-shadow: 0 5px 15px rgba(102, 106, 114, 0.3);
    }
}